@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-900 text-slate-50 antialiased overflow-x-hidden;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  body::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
